.o-mt10 {
    margin-top: 10px;
}
.o-thin {
    font-weight: 300;
}
.o-semi-thin {
    font-weight: 400;
}
.o-medium {
    font-weight: 500;
}
.o-qr {
    border-radius: 35px;
    border: 30px solid black;
}
.o-qr-holder {
    border: 15px solid white;
    border-radius: 10px;
    transition: all 0.2s ease-out;
}
.o-qr-holder:hover {
    transform: translateY(-5px);
    cursor: grab;
}
.o-slow-anim {
    transition: all 0.3s ease-out;
}
